.logo-container {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;

  svg {
    width: 100%;
    height: auto;
    position: absolute;
    transform: rotateZ(29deg);
    z-index: 2;
  }

  .solid-logo {
    position: absolute;
    width: 100%;
    height: auto;
    transform: rotateZ(29deg);
    opacity: 0;
    z-index: 1;
  }

  .svg-container {
    stroke: #000;
    stroke-width: 10px;
  }
}

/* Responsive styles for logo */
@media (max-width: 1400px) {
  .logo-container {
    width: 600px;
    height: 600px;
    right: 10%;
  }
}

@media (max-width: 1200px) {
  .logo-container {
    width: 500px;
    height: 500px;
    right: 5%;
  }
}

@media (max-width: 992px) {
  .logo-container {
    width: 400px;
    height: 400px;
    right: 2%;
  }
}

@media (max-width: 768px) {
  .logo-container {
    width: 300px;
    height: 300px;
    right: 0;
  }
}

@media (max-width: 480px) {
  .logo-container {
    position: static;
    width: 80px;
    height: 100px;
    margin: 0 auto;
  }
}
