/* .headshot { */
/*   width: 50%; */
/*   height: 100%; */
/*   top: 0; */
/*   padding-top: 10%; */
/*   margin-left: 0; */
/*   position: absolute; */
/*   right: 0; */
/*   overflow: hidden; */
/*   object-fit: cover; */
/**/
/* flex: auto; */
/* width: 18vw; */
/* height: 18vw; */
/* min-width: 125px; */
/* min-height: 125px; */
/* object-fit: cover; */
/* border-radius: 5px; */
/* border: 1px solid #fbfbfb; */
/* opacity: 0; */
/* transform: translateY(-3rem); */
/* animation: fadeIn 2s ease 6s forwards; */
/* z-index: 100; */
/* } */

.headshot {
  flex: 1;
  max-width: 45%;
  position: relative;
  display: flex;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
}
